/* Global styles for Password Generator to match Critter Twin Finder */
body {
  font-family: 'Nunito', sans-serif;
  background-color: #ffffff;
  color: #35465d;
  box-sizing: border-box;
}

/* Navbar styles */
.navbar {
  padding: 0.5rem 1rem;
  background-color: #f6f7fa;
}

.navbar-light .navbar-brand {
  line-height: 1.68;
  color: #35465d;
}

.navbar-light .navbar-toggler {
  border-color: #ffffff;
}

/* Link styles */
.navbar-light .navbar-nav .nav-link {
  color: #35465d;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #1FB264; /* Green color from Critter Twin Finder primary button */
}

/* Footer styles */
.footer {
  margin-top: 50px;
  text-align: center;
  color: #777;
}

.btn-copy {
  background-color: #28a745;
  border-color: #28a745;
  padding: 10px;
  border-radius: 4px;
  font-weight: 700;
  text-transform: uppercase;
}

.btn-copy:hover {
  background-color: #218838;
  border-color: #1e7e34;
}

/* Responsive design adjustments */
@media screen and (max-width: 600px) {
  html {
      font-size: 10px;
  }

  .navbar-brand {
      font-size: 2rem; /* Larger font size for brand on small screens */
  }
}

/* Upload container styles */
.file-upload {
  padding: 3% 3%;
  margin: 0 auto;
  border-radius: 10px;
  border: solid 1.5px #f6f7fa;
  background-color: #f6f7fa;
}

.file-upload-btn {
  width: 100%;
  margin: 0;
  color: #fff;
  background: #1FB264;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #15824B;
  transition: all .2s ease;
  text-transform: uppercase;
  font-weight: 700;
}

.file-upload-btn:hover {
  background: #1AA059;
  transition: all .2s ease;
}

.file-upload-content {
  display: none;
  text-align: center;
}

.file-upload-input {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
  cursor: pointer;
}

.image-upload-wrap {
  width: 60%;
  margin: 0 auto;
  position: relative;
  border-radius: 10px;
  border: dashed 1.5px #35465d;
  background-color: #ffffff;
}

.image-dropping, .image-upload-wrap:hover {
  background-color: #35465d82;
  border: 1.5px dashed #ffffff;
}

/* Additional miscellaneous styles */
.try-again-btn {
  border-radius: 40px;
  border: solid 1.5px #35465d;
  background-color: #35465d;
}

.try-again-text {
  font-size: 1.5rem;
  text-align: center;
  color: #ffffff;
  padding: 4px 15px;
}
