/* style.css for Password Generator */
body {
    font-family: 'Nunito', sans-serif;
    background-color: #ffffff;
    color: #35465d;
    box-sizing: border-box;
}

/* Navbar styles */
.navbar {
    padding: 0.5rem 1rem;
    background-color: #f6f7fa;
}

.navbar-light .navbar-brand {
    line-height: 1.68;
    color: #35465d;
}

.navbar-light .navbar-toggler {
    border-color: #ffffff;
}

/* Footer styles */
.footer {
    margin-top: 50px;
    text-align: center;
    color: #777;
}

/* Button styles adapted from Critter Twin Finder for consistency */
.btn-primary {
    background-color: #007bff; /* Blue background for primary button */
    border-color: #007bff; /* Border color matches background */
    padding: 10px;
    border-radius: 4px;
    font-weight: 700;
    text-transform: uppercase; /* Capitalized text for better visibility */
    transition: all .2s ease; /* Smooth transition for hover effects */
}

.btn-primary:hover {
    background-color: #0056b3; /* Darker blue on hover for visual feedback */
    border-color: #004085; /* Corresponding darker border color */
}

.btn-copy {
    background-color: #28a745;
    border-color: #28a745;
}

.btn-copy:hover {
    background-color: #218838;
    border-color: #1e7e34;
}

/* Media queries for responsive adjustments */
@media screen and (max-width: 600px) {
    html {
        font-size: 10px;
    }

    .navbar-brand {
        font-size: 2rem;
    }
}

.form-check-label::before {
    width: 1.25rem;
    height: 1.25rem;
    border: 1px solid #adb5bd;
    border-radius: 0.25rem;
    content: '';
    display: inline-block;
    margin-right: 0.25rem;
    position: relative;
    top: 0.15rem;
}
.form-check-input:checked + .form-check-label::before {
    background-color: #007bff;
    border-color: #007bff;
}
